<script context="module">
  let id = 1;
  const isBrowser = typeof window !== 'undefined';
  const startUsageDate =  isBrowser? localStorage.getItem("startUsageDate") : null; 
  if (!startUsageDate && isBrowser) {
    localStorage.setItem("startUsageDate", new Date().toISOString());
  }
  const showAd =
    startUsageDate &&
    Math.floor(
      (new Date() - new Date(startUsageDate)) / (1000 * 60 * 60 * 24)
    ) > 5;
</script>

<script>
  import { onMount } from "svelte";
  const internalId = id;

  onMount(() => {
    if (!showAd) return;
    id += 1;
    (function(w, d, n, s, t) {
      w[n] = w[n] || [];
      w[n].push(function() {
        Ya.Context.AdvManager.render({
          blockId: "R-A-428844-1",
          renderTo: `yandex_rtb_R-A-428844-${internalId}`,
          async: true
        });
      });
      t = d.getElementsByTagName("script")[0];
      s = d.createElement("script");
      s.type = "text/javascript";
      s.src = "//an.yandex.ru/system/context.js";
      s.async = true;
      t.parentNode.insertBefore(s, t);
    })(window, window.document, "yandexContextAsyncCallbacks");
  });
</script>

<style>
  .adWrapper {
    padding: 0 8px;
  }
</style>

{#if showAd}
  <div class="adWrapper">
    <div id={`yandex_rtb_R-A-428844-${internalId}`} />
  </div>
{/if}
