<script>
  export let fill = "black";
</script>

<style>
  .icon {
    transform: translate(1 1);
  }
</style>

<svg width="24" viewBox="0 0 512.035 512.035" {fill}>
  <g class="icon">
    <g>
      <path
        d="M473.702,235.076L368.699,174.33c-0.563-0.281-1.149-0.487-1.747-0.635L265.431,115.32L40.672-0.097
        c-0.85-0.34-1.7-0.577-2.538-0.717c-0.913-0.205-1.861-0.24-2.826-0.084c-1.209,0.139-2.35,0.514-3.38,1.121
        c-2.845,1.211-4.273,4.346-4.273,7.489v494.644c0,3.471,1.736,6.075,4.339,7.81c0.868,0.868,2.603,0.868,4.339,0.868
        s2.603,0,4.339-0.868l224.759-124.963l98.788-57.281c0.048,0.001,0.092,0.006,0.141,0.006c1.736,0,2.603-0.868,4.339-2.603l0,0
        c0.757-0.253,1.43-0.664,2.019-1.168l102.985-59.578c5.207-2.603,8.678-8.678,8.678-14.753S478.909,238.547,473.702,235.076z
        M45.011,27.672l238.522,222.91L45.011,481.154V27.672z
        M350.475,183.876L320.2,214.639l-23.569,23.871l-104.529-97.156
        L88.484,44.644l168.269,85.429L350.475,183.876z
        M256.753,370.452l-166.75,91.97L248.075,309.62l48.557-46.736l53.359,54.043
        L256.753,370.452z
        M365.817,307.633l-56.21-56.931l56.531-57.256l98.887,57.25L365.817,307.633z" />
    </g>
  </g>
</svg>
